@import url('../assets/reset.css');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Primary Colors */
   --deep-purple: #373041;
   --purple-te: #4D445A;
   --warm-purple: #574E64;
   --light-purple: #756982;
   --red-te: #ED453F;
   --sky-blue: #009CDC;
  
    /* Secondary Colors */
    --picton-blue: #3EB6ED;
    --baby-blue: #EAF9FF;
    --green-apple: #8BBC5E;
    --orange: #FF9827;
    --gold: #EBD4A9;
    --silver: #E6E6E6;
    --light-gray: #F7F7F7;
    --dark-gray: #959595;
    --deep-gray: #696969;
}

.general-primary-button {
  padding: 0.5rem;
  border: 0.5px solid var(--picton-blue);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  width: 100%;
  background-color: var(--sky-blue);
  color: var(--baby-blue);
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}
